<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profolio_about</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <div class="head">
        <header>
            <a href="{{ url_for('home') }}">Cyrus</a>

            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about')}}">About</a></li>
                    <li><a href="{{ url_for('project') }}">Projects</a></li>
                    <li><a href="{{ url_for('skills') }}">Skills</a></li>
                    <li><a href="{{ url_for('contact_page') }}">Contact</a></li>
                </ul>
            </nav>

            <button><a href="{{ url_for('contact_page') }}">Get In Touch</a></button>
        </header>
        
    </div>

    <div class="about">
        <div class="aboutmain">
            <button>About Me</button>

            <h1>About Me</h1>
            <p class="ab1">Creative Technoligist || AI Enthusiast || Builder of Digital Experences
            <p class="ab2">I'm Cyrus Elvis Duo, a passionate developer and designer who loves 
                <br>creating modern, functional, and impactful digital Experences.
                <br>I specialize in building responsive websites, web applications,
                <br> App and expolring Al driven solutions.
            </p>
            <div class="sub">
                <div class="subcard">
                    <img src="{{ url_for('static', filename='images/exp.png') }}" alt="" width="70px" height="50px">
                    <p><Strong>1+</Strong><br>Year of Experence</p>
                </div>
                <div class="subcard">
                    <img src="{{ url_for('static', filename='images/other.png') }}" alt="" width="70px" height="50px">
                    <p><strong>5+</strong><br>Projects Completed</p>
                </div>
            </div>
        </div>

        <img src="{{ url_for('static', filename='images/cyrus.jpeg') }}" alt="Profilepic">
    </div>

    
    <div class="container">
        <h2>What I Do</h2>
        <div class="mainabout">
            <div class="main2">
                <div class="maincard">
                    <img src="{{ url_for('static', filename='images/code2.png') }}" alt="" width="70px" height="70px">
                    <p><Strong>Coding</Strong><br>
                    Turing ideas into clear
                    <br> efficient and scalible codes.
                    </p>
                </div>
            </div>

            <div class="main2">
                <div class="maincard">
                   <img src="{{ url_for('static', filename='images/design2.png') }}" alt="" width="70px" height="70px">
                   <p><strong>Design</strong><br>
                   Designing intuitive and
                    <br>beautiful user Experences.
                   </p>
                </div>
            </div>

            <div class="main2">
                <div class="maincard">
                   <img src="{{ url_for('static', filename='images/ai2.png') }}" alt="" width="70px" height="70px">
                   <p><strong>AI</strong><br>
                   expolring AI tools and
                    <br> building smart solutions.
                   </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container7">
        
        <h2>View My Projects</h2>

        <div class="container8">
            <div class="cards">
                <div class="design">
                    <img src="{{ url_for('static', filename='images/prime.png') }}" alt="Bella" width="300px" height="auto">
                    <h4>Bella</h4>
                    <p>Bella is a resturate website that have <br>many features</p>
                    <button class="and"><a href="{{ url_for('project') }}">View Project</a></button>
                    <button class="ad"><a href="{{ url_for('contact_page') }}">Hire Me</a></button>
                </div>
            </div>

            <div class="cards">
                <div class="design">
                    <img src="{{ url_for('static', filename='images/prime.png') }}" alt="PrimeCode" width="300px" height="auto">
                    <h4>PrimeCode</h4>
                    <p>PrimeCode is a E-Commerse website <br>for selling websites</p>
                    <button class="and"><a href="{{ url_for('project') }}">View Project</a></button>
                    <button class="ad"><a href="{{ url_for('contact_page') }}">Hire Me</a></button>
                </div>
            </div>

            <div class="cards">
                <div class="design">
                    <img src="{{ url_for('static', filename='images/prime.png') }}" alt="SBS" width="300px" height="auto">
                    <h4>SBS</h4>
                    <p>SBS is a website for a university <br> project that is in development.</p>
                    <button class="and"><a href="{{ url_for('project') }}">View Project</a></button>
                    <button class="ad"><a href="{{ url_for('contact_page') }}">Hire Me</a></button>
                </div>
            </div>
        </div>
    </div>

    <div class="last">
        <div class="latest">
            <div>
                <button><a href="{{ url_for('contact_page') }}">Hire Me</a></button>
                <h4>Latest Blug Post</h4>
                <p><strong>Check out my youtube channel</strong><br>E-Commerse website creation </p>
            </div>
        </div>

        <div class="connect">
            <div>
                <button><a href="{{ url_for('contact_page') }}">Hire Me</a></button>
                <h4>Let's Connect</h4>
                <form action="">
                    <input type="email" placeholder="Enter your email" class="email">
                    <input type="submit" value="Submit" class="click"> 
                </form>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="lastfoot">
            <div class="copy">
                <p>&copy; 2026 Cyrus Elvis Duo. All rights reserved.</p>
            </div>
            
            <div class="social">
                <a href=""><i class="fa-brands fa-github"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.instagram.com/cyrusduojr?stkn=MW1mN28wZ2hpNjQycA%3D%3D&utm_source=qr"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://youtube.com/@cyrusduo4998?si=5wciKP4yhQs4KlPI"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://wa.me/231778158152?text=Hello%2C%20you%20found%20my%20website!"><i class="fa-brands fa-whatsapp"></i></a>

            </div>
        </div>

        <p>Power By: <a href="primecode.html">PrimeCode</a></p>
    </footer>

</body>
</html>